@tailwind base;
@tailwind components;
@tailwind utilities;


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #000000cc;
  background: #444444
}

@layer components {
  iframe {
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
    max-height: fit-content;
    @media (min-width: 640px) {
      max-width: none;
      max-height:none;
     }
  }
 }
